

footer {
    background-color: $color-black;
    div {
        div {
            div {
                a{
                    button {
                        padding: 4px 16px;
                        border-color: transparent;
                        border-radius: 8px;
                        background-color: $color-green;
                        color: $color-white;
                        &:hover {
                            box-shadow: 4px 6px 10px $color-green;
                        }
                    }
                }
            }
            div {
                div {
                    margin-top: 24px;
                    margin-bottom: 24px;

                    li{
                        a {
                            font-size: $font-size1;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}