

// colours

$color-purple: #3D0C63;
$color-lightpurple: #8847BB;
$color-green: #46AB81;
$color-lightgreen: #98D4A0;
$color-gray: #3D3D3D;
$color-lightgray: #EBEBEB;
$color-black: black;

// Fonts

$font-size-1: 80px;
$font-size-2: 60px;
$font-size-3: 48px;
$font-size-4: 36px;
$font-size-6: 24px;

header {
nav {
    background-color: #3D0C63;
    position: absolute;
    height: 60px;
    width: 100%;
    font-family: chivo;

    .dropdown-item:hover {
    background-color: #3D3D3D;
    }
    .dropdown-item.active, .dropdown-item:active {
        background-color: #8847BB; /* cambia el color de fondo al hacer clic */
      }
}
}

@media (max-width: 756px) {
  header {
   nav {
    
   }
  }
} 